body {
    background-color:rgb(5, 5, 51);
}

#wholePage {
    background-color:rgb(5, 5, 51);
}


.col-2 img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

#gabeTitle {
    color:mintcream;
    text-align: center;
    font-family:initial;
}


#bottomText {
    text-align: center;
    color: mintcream;
    font-family:inherit;
}